body{
    text-align: center;
}

#container{
    border: 2px solid black;
    height: 200px;
    width: 800px;
}

div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: solid black 2px;
}

#box1{
    
    background-color: aqua;
}

#box2{
    background-color: pink;
}

#box3{
    background-color: olive;
}

#box4{
    background-color: brown;
}

#box5{
    background-color: blueviolet;
}