*{
    margin: 0;
    padding: 0;
}

#navbar{
    height: 60px;
    background-color: black;
    color: white;
}

a{
    color: white;
    margin-right: 15%;
    font-size: 16px;
}

.logo{
    color: orange;
    font-size: 25px;
}

.logoColor{
    background-color: orange;
    color: white;
}
/*
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
*/
#b1{
    background-color: rgba(255, 0, 0, 0.5);
}

#b2{
    background-color: rgba(0, 255, 0, 0.5);
}

#b3{
    background-color: rgba(0, 0, 255, 0.5);

}

main{
    height: 500px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

#box1{
    height: 300px;
    width: 300px;
    background-color: green;
    font-size: 25px;
}

#box2{
    height: 150px;
    width: 5em;
    background-color: yellow;
    margin-left: 20%;
    font-size: 1em;
}